In [1]:
import pandas as pd

In [17]:
tamu = [12,20,30]

In [27]:
#series befungsi menyimpan data dalam bentuk array 1 dimensi
dataTamu = pd.Series(tamu)

senin    NaN
selasa   NaN
kamis    NaN
dtype: float64
nan

In [19]:
print(dataTamu)

0    12
1    20
2    30
dtype: int64

In [29]:
#index berfungsi memberikan nama terhadap index default
dTamu = pd.Series(dataTamu, index = ["senin", "selasa", "kamis"])
print(dTamu)
print(dTamu["senin"])

senin    NaN
selasa   NaN
kamis    NaN
dtype: float64
nan

In [24]:
pelanggan = {
    "jumat" : 100,
    "sabtu" : 120,
    "minggu" : 140
}

In [26]:
dataPelanggan = pd.Series(pelanggan)
print(dataPelanggan)

jumat     100
sabtu     120
minggu    140
dtype: int64

In [74]:
#dataframes berfungsi menyimpan data dalam bentuk array 2 dimensi / tabel yang terdiri dari baris dan kolom yang memiliki label
UHMTK = {
    'nis' : ['S01','S02','S03','S04'],
    'nama' : ['udin','rusman','jamil','eka'],
    'nilai' : [90,40,50,68],
    'grade' : ["A","D","C","B"]
}
hasil = pd.DataFrame(UHMTK)
print(hasil.loc[1])

nis         S02
nama     rusman
nilai        40
grade         D
Name: 1, dtype: object